.ba-header{
	width: 100%;
	height: 850px;
	background-color: #353546;
	color: white;
	text-align: center;
}
.logo{
	padding-top: 80px;
	display: block;
	margin: 0 auto;
	width: 130px;
}
.title{
	margin: 0;
	display: block;
	padding-top: 185px;
	font-size: 80px;
	font-weight: bold;
}
.description{
	display: block;
	box-sizing: border-box;
	width: 400px;
	font-size: 18px;
	margin: 0 auto;
	padding-top: 30px;
}
.button{
	display: block;
	padding-top: 185px;
}
.about{
	box-sizing: border-box;
	display: block;
	width: 860px;
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	padding-top: 95px;
}
main[role="main"]{
	color: #464b4f;
	display: block;
	box-sizing: border-box;
}
#down{
	display: block;
	box-sizing: border-box;
	width: 800px;
	font-size: 80px;
	margin: 0 auto;
	padding-top: 125px;
	text-align: center;
}
div{
	display: inline-block;
	box-sizing: border-box;
	width: 300px;
	margin: 0 auto;
	margin-right: 20px;
}
div > span{
	font-size: 18px;
	opacity: 0.5;
}
div > h2{
	font-size: 18px;
}
.info{
	display: block;
	box-sizing: border-box;
	width: 970px;
	padding-top: 100px;
	padding-bottom: 125px;
	margin: 0 auto;
}
body{
	font-family: Segoe UI;
}











/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
